@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222;
}

body {
  background-color: #ffffff;
  color: #222;
}

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-md px-3 py-2
    focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .btn-primary {
    @apply bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700;
  }

  .error-text {
    @apply text-xs text-red-500 mt-1;
  }
}
